In [1]:
import numpy as np
import pandas as pd
dataset1 = pd.read_csv("dataTraining1.csv")

In [2]:
dataset1.head() #first 5 column

,Serial number,date,Humidity,Light,CO2,HumidityRatio,Occupancy,Column1
0,1,04-02-2015 17:51,23.18,27.2720,426.0,721.25,0.004793,1
1,2,04-02-2015 17:51,23.15,27.2675,429.5,714.00,0.004783,1
2,3,04-02-2015 17:53,23.15,27.2450,426.0,713.50,0.004779,1
3,4,04-02-2015 17:54,23.15,27.2000,426.0,708.25,0.004772,1
4,5,04-02-2015 17:55,23.10,27.2000,426.0,704.50,0.004757,1

In [3]:
dataset1.tail()#last 5 columns

,Serial number,date,Humidity,Light,CO2,HumidityRatio,Occupancy,Column1
8138,8139,10-02-2015 09:29,21.05,36.0975,433.0,787.250000,0.005579,1
8139,8140,10-02-2015 09:29,21.05,35.9950,433.0,789.500000,0.005563,1
8140,8141,10-02-2015 09:30,21.10,36.0950,433.0,798.500000,0.005596,1
8141,8142,10-02-2015 09:32,21.10,36.2600,433.0,820.333333,0.005621,1
8142,8143,10-02-2015 09:33,21.10,36.2000,447.0,821.000000,0.005612,1

In [4]:
dataset1.isnull().sum()

Serial number    0
date             0
Humidity         0
Light            0
CO2              0
HumidityRatio    0
Occupancy        0
Column1          0
dtype: int64

In [5]:
df=dataset1.drop(['Column1','date'],axis=1)  #removing useless column to minimize dataset

In [6]:
df.shape

(8143, 6)

In [7]:
df.dtypes

Serial number      int64
Humidity         float64
Light            float64
CO2              float64
HumidityRatio    float64
Occupancy        float64
dtype: object

In [8]:
df.info() #count and datatype of dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8143 entries, 0 to 8142
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Serial number  8143 non-null   int64
 1   Humidity       8143 non-null   float64
 2   Light          8143 non-null   float64
 3   CO2            8143 non-null   float64
 4   HumidityRatio  8143 non-null   float64
 5   Occupancy      8143 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 381.8 KB

In [9]:
from sklearn.impute import SimpleImputer
si=SimpleImputer(strategy='most_frequent')
df_im=si.fit_transform(df)

In [10]:
df_im=pd.DataFrame(df_im)

In [11]:
data=df_im

In [12]:
target=df_im[0]

In [13]:
df.head()

   Serial number  Humidity    Light    CO2  HumidityRatio  Occupancy
0              1     23.18  27.2720  426.0         721.25   0.004793
1              2     23.15  27.2675  429.5         714.00   0.004783
2              3     23.15  27.2450  426.0         713.50   0.004779
3              4     23.15  27.2000  426.0         708.25   0.004772
4              5     23.10  27.2000  426.0         704.50   0.004757

In [14]:
import matplotlib.pyplot as plot
from sklearn import linear_model

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data,target,test_size=0.3)

In [16]:
x_train.shape

(5700, 6)

In [17]:
x_test.shape

(2443, 6)

In [18]:
from sklearn.linear_model import Perceptron

In [19]:
p1=Perceptron(penalty='l1')

In [20]:
df

      Serial number  Humidity    Light    CO2  HumidityRatio  Occupancy
0                 1     23.18  27.2720  426.0     721.250000   0.004793
1                 2     23.15  27.2675  429.5     714.000000   0.004783
2                 3     23.15  27.2450  426.0     713.500000   0.004779
3                 4     23.15  27.2000  426.0     708.250000   0.004772
4                 5     23.10  27.2000  426.0     704.500000   0.004757
...             ...       ...      ...    ...            ...        ...
8138           8139     21.05  36.0975  433.0     787.250000   0.005579
8139           8140     21.05  35.9950  433.0     789.500000   0.005563
8140           8141     21.10  36.0950  433.0     798.500000   0.005596
8141           8142     21.10  36.2600  433.0     820.333333   0.005621
8142           8143     21.10  36.2000  447.0     821.000000   0.005612

[8143 rows x 6 columns]

In [21]:
p1.fit(x_train,y_train)

Perceptron(penalty='l1')

In [22]:
from sklearn.metrics import accuracy_score

In [23]:
train_pred=p1.predict(x_train)

In [24]:
train_pred=p1.predict(x_test)

In [25]:
X=df
y=df['Humidity']
from sklearn.linear_model import LogisticRegression

from sklearn import preprocessing
from sklearn import utils

#convert y values to categorical values
lab = preprocessing.LabelEncoder()
y = lab.fit_transform(y)

In [31]:
#split the dataset in the Training and testing 
from sklearn.model_selection import train_test_split
X_train , X_test ,y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=0)
print(np.shape(X))
print(np.shape(X_test))
print(np.shape(X_train))

#Create the object of StandardScaler class for independent variables or features
from sklearn.preprocessing import StandardScaler 
sc=StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

(8143, 6)
(2443, 6)
(5700, 6)

In [27]:
### SVM (Support Vector Machine)
from sklearn.svm import SVC
svm = SVC(kernel='linear', C=1,random_state=0)
svm.fit(X_train_std,y_train)
y_pred=svm.predict(X_test_std)
print('misclassified samples: %d'%(y_test!=y_pred).sum())
from sklearn.metrics import accuracy_score
print('Accuracy:%.2f'%accuracy_score(y_test,y_pred))

misclassified samples: 1059
Accuracy:0.57

In [28]:
### KNN (K-Nearest Neighbors)
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
knn1=KNeighborsClassifier(n_neighbors=3)
knn1.fit(X_train_std,y_train)
y_pred=knn1.predict(X_test_std)
print('misclassified samples: %d'%(y_test!=y_pred).sum())
from sklearn.metrics import accuracy_score
print('Accuracy:%.2f'%accuracy_score(y_test,y_pred))

misclassified samples: 547
Accuracy:0.78

In [29]:
### Logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
model = LogisticRegression(solver='liblinear', random_state=0)
model.fit(X,y)
model = LogisticRegression(solver='liblinear', random_state=0).fit(X, y)
model.predict_proba(X)
model.predict(X)
model.score(X,y)
print(classification_report(y, model.predict(X)))
model.score(X,y)

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         5
           1       0.00      0.00      0.00         2
           2       0.00      0.00      0.00        48
           3       0.00      0.00      0.00         5
           4       0.00      0.00      0.00         4
           5       0.00      0.00      0.00         3
           6       0.00      0.00      0.00         1
           7       0.22      0.73      0.34       113
           8       0.00      0.00      0.00        13
           9       0.00      0.00      0.00        24
          10       0.00      0.00      0.00        50
          11       0.00      0.00      0.00        16
          12       0.00      0.00      0.00        11
          13       0.00      0.00      0.00         1
          14       0.19      0.06      0.09       270
          15       0.00      0.00      0.00         8
          16       0.00      0.00      0.00        12
          17       0.00      0.00      0.00        52
          18       0.00      0.00      0.00         1
          19       0.00      0.00      0.00        10
          20       0.00      0.00      0.00         3
          21       0.19      0.78      0.31       532
          22       0.00      0.00      0.00         1
          23       0.00      0.00      0.00         8
          24       0.00      0.00      0.00        21
          25       0.00      0.00      0.00         1
          26       0.00      0.00      0.00        46
          27       0.00      0.00      0.00        15
          28       0.00      0.00      0.00         4
          29       0.00      0.00      0.00       357
          30       0.00      0.00      0.00         8
          31       0.00      0.00      0.00         5
          32       0.00      0.00      0.00        15
          33       0.00      0.00      0.00         5
          34       0.00      0.00      0.00         6
          35       0.00      0.00      0.00         1
          36       0.00      0.00      0.00       106
          37       0.00      0.00      0.00         7
          38       0.00      0.00      0.00        13
          39       0.00      0.00      0.00        37
          40       0.00      0.00      0.00        14
          41       0.00      0.00      0.00         9
          42       0.00      0.00      0.00         1
          43       0.00      0.00      0.00       173
          44       0.00      0.00      0.00         5
          45       0.00      0.00      0.00         5
          46       0.00      0.00      0.00        30
          47       0.00      0.00      0.00         5
          48       0.00      0.00      0.00         4
          49       0.00      0.00      0.00       208
          50       0.00      0.00      0.00         1
          51       0.00      0.00      0.00         3
          52       0.00      0.00      0.00        13
          53       0.00      0.00      0.00         1
          54       0.00      0.00      0.00         1
          55       0.00      0.00      0.00       165
          56       0.00      0.00      0.00         1
          57       0.00      0.00      0.00         9
          58       0.00      0.00      0.00        23
          59       0.00      0.00      0.00         3
          60       0.00      0.00      0.00         1
          61       0.11      0.68      0.18       218
          62       0.00      0.00      0.00         3
          63       0.00      0.00      0.00         5
          64       0.00      0.00      0.00        20
          65       0.00      0.00      0.00         6
          66       0.00      0.00      0.00         2
          67       0.00      0.00      0.00       144
          68       0.00      0.00      0.00         6
          69       0.00      0.00      0.00        18
          70       0.00      0.00      0.00        60
          71       0.00      0.00      0.00         7
          72       0.00      0.00      0.00         7
          73       0.00      0.00      0.00       245
          74       0.00      0.00      0.00         1
          75       0.00      0.00      0.00         4
          76       0.00      0.00      0.00         8
          77       0.00      0.00      0.00        50
          78       0.00      0.00      0.00         9
          79       0.00      0.00      0.00         5
          80       0.09      0.08      0.08       416
          81       0.50      0.17      0.25         6
          82       0.00      0.00      0.00        12
          83       0.00      0.00      0.00        27
          84       0.00      0.00      0.00        11
          85       0.00      0.00      0.00         4
          86       0.00      0.00      0.00         1
          87       0.00      0.00      0.00         1
          88       0.05      0.01      0.02       262
          89       0.00      0.00      0.00         3
          90       0.00      0.00      0.00         8
          91       0.00      0.00      0.00        38
          92       0.00      0.00      0.00         9
          93       0.00      0.00      0.00         4
          94       0.21      0.18      0.19       328
          95       0.00      0.00      0.00         6
          96       0.00      0.00      0.00         7
          97       0.00      0.00      0.00        38
          98       0.00      0.00      0.00         6
          99       0.00      0.00      0.00         2
         100       0.00      0.00      0.00       101
         101       0.00      0.00      0.00         6
         102       0.00      0.00      0.00         7
         103       0.00      0.00      0.00        13
         104       0.00      0.00      0.00         7
         105       0.00      0.00      0.00         9
         106       0.00      0.00      0.00         1
         107       0.04      0.02      0.02       169
         108       0.00      0.00      0.00         9
         109       0.00      0.00      0.00         6
         110       0.00      0.00      0.00        12
         111       0.00      0.00      0.00         2
         112       0.00      0.00      0.00         3
         113       0.00      0.00      0.00        63
         114       0.00      0.00      0.00         7
         115       0.00      0.00      0.00         6
         116       0.00      0.00      0.00        19
         117       0.00      0.00      0.00        13
         118       0.00      0.00      0.00        17
         119       0.16      0.60      0.25       222
         120       0.00      0.00      0.00         6
         121       0.00      0.00      0.00         9
         122       0.00      0.00      0.00        24
         123       0.00      0.00      0.00         1
         124       0.00      0.00      0.00         9
         125       0.00      0.00      0.00         3
         126       0.00      0.00      0.00       168
         127       0.00      0.00      0.00         7
         128       0.00      0.00      0.00         8
         129       0.00      0.00      0.00        22
         130       0.00      0.00      0.00         2
         131       0.00      0.00      0.00         8
         132       0.00      0.00      0.00       105
         133       0.00      0.00      0.00         7
         134       0.00      0.00      0.00         7
         135       0.00      0.00      0.00        24
         136       0.00      0.00      0.00         8
         137       0.00      0.00      0.00         6
         138       0.06      0.15      0.09       211
         139       0.00      0.00      0.00         3
         140       0.00      0.00      0.00         2
         141       0.00      0.00      0.00        16
         142       0.00      0.00      0.00         5
         143       0.00      0.00      0.00         4
         144       0.00      0.00      0.00         1
         145       0.00      0.00      0.00       147
         146       0.00      0.00      0.00         1
         147       0.00      0.00      0.00        11
         148       0.00      0.00      0.00        17
         149       0.00      0.00      0.00         1
         150       0.00      0.00      0.00        25
         151       0.00      0.00      0.00         5
         152       0.00      0.00      0.00        11
         153       0.00      0.00      0.00       112
         154       0.00      0.00      0.00         8
         155       0.00      0.00      0.00         5
         156       0.00      0.00      0.00        15
         157       0.00      0.00      0.00         3
         158       0.00      0.00      0.00         7
         159       0.17      0.36      0.23       143
         160       0.00      0.00      0.00         7
         161       0.00      0.00      0.00         4
         162       0.00      0.00      0.00        14
         163       0.00      0.00      0.00         7
         164       0.00      0.00      0.00         4
         165       0.00      0.00      0.00        60
         166       0.00      0.00      0.00         5
         167       0.00      0.00      0.00         6
         168       0.00      0.00      0.00         1
         169       0.00      0.00      0.00        15
         170       0.00      0.00      0.00         6
         171       0.00      0.00      0.00         7
         172       0.16      0.67      0.26       155
         173       0.00      0.00      0.00        15
         174       0.00      0.00      0.00        14
         175       0.00      0.00      0.00        29
         176       0.00      0.00      0.00         1
         177       0.00      0.00      0.00        10
         178       0.00      0.00      0.00        15
         179       0.00      0.00      0.00        78
         180       0.00      0.00      0.00         3
         181       0.00      0.00      0.00         2
         182       0.00      0.00      0.00        14
         183       0.00      0.00      0.00         3
         184       0.00      0.00      0.00         5
         185       0.00      0.00      0.00        73
         186       0.00      0.00      0.00         9
         187       0.00      0.00      0.00         3
         188       0.00      0.00      0.00        12
         189       0.00      0.00      0.00         8
         190       0.00      0.00      0.00         9
         191       0.00      0.00      0.00        81
         192       0.00      0.00      0.00         1
         193       0.00      0.00      0.00         1
         194       0.00      0.00      0.00        11
         195       0.00      0.00      0.00         6
         196       0.00      0.00      0.00        15
         197       0.00      0.00      0.00        17
         198       0.00      0.00      0.00        16
         199       0.00      0.00      0.00         2
         200       0.27      0.60      0.37       219
         201       0.00      0.00      0.00        10
         202       0.00      0.00      0.00         8
         203       0.00      0.00      0.00        12
         204       0.00      0.00      0.00         5
         205       0.00      0.00      0.00        21
         206       0.13      0.24      0.17       136
         207       0.00      0.00      0.00         7
         208       0.00      0.00      0.00         4
         209       0.00      0.00      0.00        15
         210       0.00      0.00      0.00         2
         211       0.00      0.00      0.00        13
         212       0.00      0.00      0.00         1
         213       0.00      0.00      0.00        84
         214       0.00      0.00      0.00         6
         215       0.00      0.00      0.00         4
         216       0.00      0.00      0.00        11
         217       0.00      0.00      0.00         5
         218       0.00      0.00      0.00         6
         219       0.00      0.00      0.00        65
         220       0.00      0.00      0.00         5
         221       0.00      0.00      0.00         4
         222       0.00      0.00      0.00         6
         223       0.00      0.00      0.00         1
         224       0.00      0.00      0.00         5
         225       0.00      0.00      0.00        57
         226       0.00      0.00      0.00         6
         227       0.00      0.00      0.00         2
         228       0.00      0.00      0.00         9
         229       0.00      0.00      0.00         1
         230       0.00      0.00      0.00         4
         231       0.00      0.00      0.00        53
         232       0.00      0.00      0.00         3
         233       0.00      0.00      0.00         1
         234       0.00      0.00      0.00         5
         235       0.00      0.00      0.00         5
         236       0.00      0.00      0.00         4
         237       0.00      0.00      0.00        29
         238       0.00      0.00      0.00         5
         239       0.00      0.00      0.00         1
         240       0.00      0.00      0.00         2
         241       0.00      0.00      0.00         4
         242       0.00      0.00      0.00        17
         243       0.00      0.00      0.00         2
         244       0.00      0.00      0.00         2
         245       0.00      0.00      0.00         1
         246       0.00      0.00      0.00         2
         247       0.00      0.00      0.00         1
         248       0.00      0.00      0.00        31
         249       0.00      0.00      0.00         4
         250       0.00      0.00      0.00         2
         251       0.00      0.00      0.00         5
         252       0.00      0.00      0.00         1
         253       0.00      0.00      0.00         5
         254       0.00      0.00      0.00        18
         255       0.00      0.00      0.00         1
         256       0.00      0.00      0.00         3
         257       0.00      0.00      0.00         3
         258       0.00      0.00      0.00         1
         259       0.00      0.00      0.00         3
         260       0.00      0.00      0.00         4
         261       0.00      0.00      0.00        12
         262       0.15      0.82      0.26        40
         263       0.75      1.00      0.86         3
         264       1.00      1.00      1.00         1

    accuracy                           0.16      8143
   macro avg       0.02      0.03      0.02      8143
weighted avg       0.06      0.16      0.08      8143

/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

0.15780424904826232

In [32]:
from sklearn.ensemble import RandomForestClassifier #algorithm of hyperparameter tuning
from sklearn.model_selection import GridSearchCV #Cv: Cross Validation
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.3, random_state=42)

# Define the hyperparameters to tune
param_grid = {
    'n_estimators': [50, 100, 150],
    'max_depth': [None, 5, 10],
    'min_samples_split': [2, 5, 10]
}
# Create a random forest classifier object
rfc = RandomForestClassifier()

# Perform a grid search with cross-validation to find the best hyperparameters
grid_search = GridSearchCV(estimator=rfc, param_grid=param_grid, cv=5)
grid_search.fit(X_train, y_train)

# Print the best hyperparameters and their corresponding accuracy score on the validation set
print("Best hyperparameters:", grid_search.best_params_)
y_pred = grid_search.predict(X_val)
print("Validation accuracy score:", accuracy_score(y_val, y_pred))

/usr/local/lib/python3.9/dist-packages/sklearn/model_selection/_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

Best hyperparameters: {'max_depth': None, 'min_samples_split': 2, 'n_estimators': 150}
Validation accuracy score: 0.8661481784690954